body {
    background-color:forestgreen;
}

img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

.place {
    height: 125px;
    width: 81.7px;
    border: 2px solid #ffffff;
    overflow: unset;
    position: relative;
}

section {
    display: flex;
    margin-top: 30px;
}

#foundation-section {
    padding-left: 60%;
    padding-right: 5%;
    justify-content: space-around;
}

#active-section {
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-around;
    margin-bottom: 100px;
}

#deck-section {
    padding-left: 10%;
    padding-right: 70%;
    justify-content: space-around;
}

#welcome-box, #gameover-box, #gamewon-box {
    width: 650px;
    max-height: 300px;
    border: 2px solid #132a13; 
    border-radius: 15px;
    background-color: rgb(65, 184, 65);
    position: absolute;
    left: 25%;
    right: 60%;
    top: 20%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 15px 35px 15px 35px;
}

#welcome-box button, #gameover-box button, #gamewon-box button {
    width: 150px;
    height: 30px;
    background-color: forestgreen;
    border-radius: 7%;
}

#welcome-box p {
    text-align: justify;
}

.hidden-content {
    display: none;
}